
.git
.gitignore
.github
**/.git
**/node_modules
**/.nuxt
**/.output
**/.cache
**/.DS_Store
**/*.log
**/.env
**/.env.*
!**/.env.example
backend/.cache
backend/data/*.json
backend/.env
backend/.env.*
frontend/node_modules
frontend/.nuxt
frontend/.output
